// Specific scss file for rating component
@import '../../utils/globals_styles.scss';

.rating {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
  margin-top: 8px;
  &__img {
    height: 36px;
    margin-left: 4px;
    &:nth-of-type(1) {
      margin-left: 0;
    }
    @media (max-width: $mobile) {
      height: 18px;
      margin-right: 2px;
      margin-left: 0;
      @media (max-width: $mobile) {
        &:nth-last-of-type() {
          margin-right: 0;
        }
      }
    }
  }
}
