// Specific scss file for footer
@import '../../utils/globals_styles.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 66px 100px 19px;
  background-color: $black;
  color: $white;
  @media (max-width: $mobile) {
    margin-top: 27px;
    padding: 66px 20px 58px;

    /****************/
    /** 2nd propal for footer if height of body < height of screen **/
    /****************/
    //position: absolute;
    //bottom: 0;
    //width: calc(100% - 40px);
  }

  &__text {
    width: 513px;
    height: 46px;
    margin-top: 28.56px;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;

    @media (max-width: $mobile) {
      width: 133.59px;
      font-size: 12px;
      line-height: 17.11px;
    }
  }
}

.about + .footer {
  margin-top: 38px;
  @media (max-width: $mobile) {
    margin-top: 19px;
  }
}

.rental + .footer {
  margin-top: 50px;
  @media (max-width: $mobile) {
    margin-top: 27px;
  }
}
